/* Kick her off, skippy! */

.cta {
    clear: both;
    padding: 4rem 0;
    margin-top: 3rem;
    text-align: center;
    background-size: cover;
    box-shadow: 0 -1px 3px rgba(25,25,25,0.45);
    
    .callout-card {
        background: $white; 
      border: 1px solid #333; 
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
      margin: 1rem 0; 
      overflow: hidden;
      
      .card-label {
    	    border-color: transparent #333 transparent transparent;
    	    border-color: rgba(255,255,255,0) #333 rgba(255,255,255,0) rgba(255,255,255,0);
        }
     
      &.alert {
        border-color: $green;
        
        .card-label {
    	    border-color: transparent $green transparent transparent;
    	    border-color: rgba(255,255,255,0) $green rgba(255,255,255,0) rgba(255,255,255,0);
        }
      }
    
     
      .card-label {	
        border-style: solid; 
        border-width: 0 70px 40px 0;  
        float:right; 
        height: 0px; 
        width: 0px;
        transform:rotate(360deg);
      }
      
      .callout-card-content{
    	  padding: 0.5rem 1.5rem 0.875rem;
      }
      
      &.radius {
        border-radius: 0.6rem;
      }
      
      .label-text {
        color: #fff; 
        font-size: 0.75rem; 
        font-weight: bold; 
        position: relative; 
        right: -40px; 
        top: 2px; 
        white-space: nowrap;
        transform: rotate(30deg);
      }	
    }
    
    .gform_body, .gform_footer {
      text-align: center;
    }
    
    .ginput_container input {
      width: 100% !important;
      display: block;
    }

}