.hero {
  background-image: url('https://unsplash.imgix.net/reserve/QTrNn7DETWGsjyS5L2n5__MG_8345.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 60vh;
}

.slick-slider {
 margin-bottom: 0; 
}