#sidebar {
    .widget-container {
        position: relative;
        text-align: center;
        padding-top: 6rem;
        margin: 1rem 0;
        border-radius: 2px;
        background-color: $green;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    }
    .textwidget {
        background-color: $white;
        padding: 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    i.fa {
        position: absolute;
        top: rem-calc(15);
        font-size: 5rem;
        left: 0;
        right: 0;
        color: white;
    }
    h6 {
        font-size: 1.5rem;
        font-weight: 600;
        color: white;
    }
}